In [4]:
# Импортируйте pandas\n"
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# Создаем датафрейм с данными\n -- Review???
d = {"column_1": [1,2,3,1,2,2], "column_2": [4, 5, 6, 4, 4, 1], "column_3": [7, 8, 9, 7, 7, 7]}
Dataframe =pd.DataFrame(data=d)

In [6]:
Dataframe

   column_1  column_2  column_3
0         1         4         7
1         2         5         8
2         3         6         9
3         1         4         7
4         2         4         7
5         2         1         7

In [7]:
# Посмотрите на информацию о датафрейме
Dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   column_1  6 non-null      int64
 1   column_2  6 non-null      int64
 2   column_3  6 non-null      int64
dtypes: int64(3)
memory usage: 272.0 bytes

In [8]:
## Посчитайте среднее значение по каждому столбцу"
Dataframe.mean()

column_1    1.833333
column_2    4.000000
column_3    7.500000
dtype: float64

In [10]:
## Найдите сумму столбцов col1 и col2" -- Review???
sum_column_1_and_2 = Dataframe["column_1"] + Dataframe["column_2"]
sum_column_1_and_2

0    5
1    7
2    9
3    5
4    6
5    3
dtype: int64

In [14]:
#3 or
Dataframe["column_1"].sum()
Dataframe["column_2"].sum()
sum_dfs = Dataframe["column_1"].sum() + Dataframe["column_2"].sum()
sum_dfs

35

In [18]:
## Найдите сумму, медиану и максимальное значение столбцов col2 и col3
sum_median_max = Dataframe[["column_2", "column_3"]].agg([np.sum, np.median, np.max])
sum_median_max

        column_2  column_3
sum         24.0      45.0
median       4.0       7.0
amax         6.0       9.0

In [23]:
## Посчитайте кол-во данных в столбце col1
Dataframe["column_1"].value_counts(sort=True)
## or ## Посчитайте кол-во данных в столбце col1
Dataframe["column_1"].count()

6

In [21]:
## Отобразите только уникальные данные из столбца col1
Dataframe["column_1"].unique()

array([1, 2, 3], dtype=int64)

In [24]:
### Посчитайте кол-во каждого из уникальных данных в столбце col1 -- Review
Dataframe["column_1"].nunique()

3

In [25]:
## Посчитайте процент каждого из уникальных данных в столбце col1,
## отсортируйте в порядке, того как данные встречаются в столбце
Dataframe["column_1"].value_counts(normalize=True, sort=True)

2    0.500000
1    0.333333
3    0.166667
Name: column_1, dtype: float64

In [26]:
## Создайте новый столбец col4 из суммы столбцов col1 и col2 -- Review??
Dataframe["column_4"] = Dataframe["column_1"] + Dataframe["column_2"]
Dataframe

   column_1  column_2  column_3  column_4
0         1         4         7         5
1         2         5         8         7
2         3         6         9         9
3         1         4         7         5
4         2         4         7         6
5         2         1         7         3

In [37]:
# Посчитайте сумму столбцов col1 только в тех строках,
# в которых col3 больше 7"
#def sum_7():
 #   if Dataframe["column_3"] > 7:
  #      Dataframe["column_1"].sum()
   # else:
    #    print("No_Data")
#sum_7()

In [38]:
# Review the aforementioned

In [44]:
# Удалите дубликаты по комбинации столбцов col1 и col2 -- Review
Dataframe.drop_duplicates(subset=["column_1","column_2"])

   column_1  column_2  column_3  column_4
0         1         4         7         5
1         2         5         8         7
2         3         6         9         9
4         2         4         7         6
5         2         1         7         3