In [10]:
# Monthly reports Automation
import pandas as pd
import numpy as np

In [18]:
internal = pd.read_excel("C:\\Users\\XCG\\Desktop\\November\\Monthly_Reports\\Sapphire Bet (Hermes consulting company N.V.) October\\Sapphire_Bet_Hermes_Consulting_08_09_10_2023.xlsx",usecols = ["TRANSACTION ID", "MERCHANT REFERENCE", "MERCHANT NAME","APP NAME","METHOD","ORDER AMOUNT","ORDER CURRENCY","Processing Fee","TAX","CHARGEBACK FEE", "REFUND FEE","AVS FEE","STATUS","ORDER TIME","UPDATE TIME", "CONTENT","SUBJECT",])

In [20]:
update_file.head()

,TRANSACTION ID,MERCHANT REFERENCE,MERCHANT NAME,APP NAME,METHOD,ORDER AMOUNT,ORDER CURRENCY,Processing Fee,TAX,CHARGEBACK FEE,REFUND FEE,AVS FEE,PAY AMOUNT,PAY CURRENCY,STATUS,ORDER TIME,UPDATE TIME,SUBJECT,CONTENT
0,2023103123083305395,9156651479,Hermes consulting company N.V.,Hermes consulting company N.V.,Wallet,15.0,BRL,-0.60,-0.06,0,0,0,15.0,BRL,Success,2023-10-31 23:08:33,2023-10-31 23:09:12,Account deposit 715899839,NaN
1,2023103123032102459,9156625329,Hermes consulting company N.V.,Hermes consulting company N.V.,Wallet,50.0,BRL,-2.00,-0.19,0,0,0,50.0,BRL,Success,2023-10-31 23:03:21,2023-10-31 23:03:51,Account deposit 708584847,NaN
2,2023103122535206659,9156576243,Hermes consulting company N.V.,Hermes consulting company N.V.,SPEI,200.0,MXN,-11.00,-1.76,0,0,0,200.0,MXN,Success,2023-10-31 22:53:52,2023-10-31 22:56:08,Account deposit 714489703,NaN
3,2023103122243709168,9156415763,Hermes consulting company N.V.,Hermes consulting company N.V.,SPEI,101.0,MXN,-7.54,-1.21,0,0,0,101.0,MXN,Success,2023-10-31 22:24:37,2023-10-31 22:26:51,Account deposit 714489703,NaN
4,2023103121431502044,9156142403,Hermes consulting company N.V.,Hermes consulting company N.V.,Wallet,15.0,BRL,-0.60,-0.06,0,0,0,15.0,BRL,Success,2023-10-31 21:43:15,2023-10-31 21:46:49,Account deposit 715899839,NaN

In [27]:
# Now add this file into that sheet
with pd.ExcelWriter("C:\\Users\\XCG\\Desktop\\November\\Monthly_Reports\\Sapphire Bet (Hermes consulting company N.V.) October\\Automate_monthly_report.xlsx", 
                    engine = "openpyxl") as writer:
    update_file.to_excel(writer,sheet_name="BRL Payin ORDERS", index = False)

In [65]:

from openpyxl import load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows
import pandas as pd

# Read data from report_A.xlsx using openpyxl
report_data = pd.read_excel(
    "C:\\Users\\XCG\\Desktop\\November\\Monthly_Reports\\Sapphire Bet (Hermes consulting company N.V.) October\\Sapphire_Bet_Hermes_Consulting_September_2023.xlsx",
    usecols=["TRANSACTION ID", "MERCHANT REFERENCE", "MERCHANT NAME", "APP NAME", "METHOD", "ORDER AMOUNT",
             "ORDER CURRENCY", "Processing Fee", "TAX", "CHARGEBACK FEE", "REFUND FEE", "AVS FEE", "STATUS",
             "ORDER TIME", "UPDATE TIME", "CONTENT", "SUBJECT"],dtype = {"TRANSACTION ID":object,"MERCHANT REFERENCE":object},
    parse_dates=["ORDER TIME", "UPDATE TIME"], sheet_name="Sheet-1"
)
## Filtering the specific currency
report_data = report_data[report_data["ORDER CURRENCY"]=="BRL"]
# Define the target file
output_file = "C:\\Users\\XCG\\Desktop\\November\\Monthly_Reports\\Sapphire Bet (Hermes consulting company N.V.) October\\Automated_report_final.xlsx"
sheet_name = "BRL Payin ORDERS"

# Load existing workbook or create a new one if not found
try:
    book = load_workbook(output_file)
except FileNotFoundError:
    book = openpyxl.Workbook()

# Remove the sheet if it already exists
if sheet_name in book.sheetnames:
    sheet = book[sheet_name]
    book.remove(sheet)

# Create a new sheet with the desired name
sheet = book.create_sheet(title=sheet_name)

# Write the new data to the sheet
for r_idx, row in enumerate(dataframe_to_rows(report_data, index=False, header=True), 1):
    for c_idx, value in enumerate(row, 1):
        sheet.cell(row=r_idx, column=c_idx, value=value)

# Save the changes
book.save(output_file)

In [66]:
# The file above has updated only one of the sheets, we should also try to update more sheets