In [2]:
import pandas as pd
import numpy as np

In [3]:
results_schema = pd.read_csv("survey_results_schema.csv")
results_public = pd.read_csv("survey_results_public.csv")

In [45]:
#results_schema.head(4)
results_public.head(4)
#results_public["Country"].value_counts

<bound method IndexOpsMixin.value_counts of 0                                                 Slovakia
1                                              Netherlands
2                                       Russian Federation
3                                                  Austria
4        United Kingdom of Great Britain and Northern I...
                               ...
83434                             United States of America
83435                                                Benin
83436                             United States of America
83437                                               Canada
83438                                               Brazil
Name: Country, Length: 83439, dtype: object>

In [6]:
# Grouping and Aggregating Data
#First, Find Median
results_public["ConvertedCompYearly"].median()

56211.0

In [7]:
# Find median for the whole Dataframe, all columns that have anything numerical
results_public.median()

C:\Users\User-PC\AppData\Local\Temp\ipykernel_2604\3533872922.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  results_public.median()

ResponseId             41720.0
CompTotal              67000.0
ConvertedCompYearly    56211.0
dtype: float64

In [8]:
# Show the descriptive statistics for the DF
results_public.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

In [11]:
# Count how many values are in the column, how many of each values are in the column
results_public["Gender"].value_counts()

Man                                                                                   74817
Woman                                                                                  4120
Prefer not to say                                                                      1442
Non-binary, genderqueer, or gender non-conforming                                       690
Or, in your own words:                                                                  413
Man;Or, in your own words:                                                              268
Man;Non-binary, genderqueer, or gender non-conforming                                   252
Woman;Non-binary, genderqueer, or gender non-conforming                                 147
Man;Woman                                                                                41
Non-binary, genderqueer, or gender non-conforming;Or, in your own words:                 21
Man;Woman;Non-binary, genderqueer, or gender non-conforming                              21
Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:       17
Woman;Or, in your own words:                                                             16
Man;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:             11
Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:            9
Man;Woman;Or, in your own words:                                                          1
Name: Gender, dtype: int64

In [12]:
# Count how many values are in the column, how many of each values are in the column, show in percentage
results_public["Gender"].value_counts(normalize=True)

Man                                                                                   0.909231
Woman                                                                                 0.050069
Prefer not to say                                                                     0.017524
Non-binary, genderqueer, or gender non-conforming                                     0.008385
Or, in your own words:                                                                0.005019
Man;Or, in your own words:                                                            0.003257
Man;Non-binary, genderqueer, or gender non-conforming                                 0.003062
Woman;Non-binary, genderqueer, or gender non-conforming                               0.001786
Man;Woman                                                                             0.000498
Non-binary, genderqueer, or gender non-conforming;Or, in your own words:              0.000255
Man;Woman;Non-binary, genderqueer, or gender non-conforming                           0.000255
Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:    0.000207
Woman;Or, in your own words:                                                          0.000194
Man;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:          0.000134
Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:        0.000109
Man;Woman;Or, in your own words:                                                      0.000012
Name: Gender, dtype: float64

In [16]:
# Grouping the Data
# Groupby() = Split - Apply function - Combine Results
results_public.head(2)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN

In [19]:
# Let's groupby countries
country_group = results_public.groupby(by=["Country"])
country_group

In [47]:
# Let's see the result of groupby # It looks like a filter, but it's better
country_group.get_group("United States of America")

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
5,6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
6,7,I code primarily as a hobby,I prefer not to say,United States of America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,...,Prefer not to say,Prefer not to say,No,NaN,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
15,16,I am a student who is learning to code,"Student, full-time",United States of America,Missouri,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,Other (please specify):,7,...,Under 18 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Too long,Easy,NaN
36,37,I am a developer by profession,Employed full-time,United States of America,District of Columbia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Too short,Easy,103000.0
37,38,I am a developer by profession,Employed full-time,United States of America,Massachusetts,NaN,Some college/university study without earning ...,18 - 24 years,"Other online resources (ex: videos, blogs, etc)",20,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,300000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83427,83428,I am a developer by profession,Employed full-time,United States of America,Pennsylvania,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",13,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,"I have an anxiety disorder;Or, in your own words:",Too short,Easy,4300000.0
83429,83430,I code primarily as a hobby,"Not employed, but looking for work",United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",6,...,25-34 years old,"Man;Or, in your own words:",Yes,Queer,White or of European descent,I am unable to / find it difficult to walk or ...,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN
83430,83431,I am a developer by profession,Employed full-time,United States of America,Illinois,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",23,...,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,125000.0
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0

In [35]:
# Filter out the countries
filt= results_public["Country"] == "India"
results_public.loc[filt]["LearnCode"].value_counts()

School                                                                                                                                                           1060
Other online resources (ex: videos, blogs, etc)                                                                                                                   600
Other online resources (ex: videos, blogs, etc);Online Courses or Certification                                                                                   392
School;Books / Physical media                                                                                                                                     347
Other online resources (ex: videos, blogs, etc);School;Online Courses or Certification;Books / Physical media                                                     340
                                                                                                                                                                 ...
Coding Bootcamp;Other (please specify):;Books / Physical media                                                                                                      1
Other online resources (ex: videos, blogs, etc);Friend or family member;Other (please specify):;Colleague;Books / Physical media                                    1
Other online resources (ex: videos, blogs, etc);School;Online Forum;Friend or family member;Online Courses or Certification;Other (please specify):;Colleague       1
Other online resources (ex: videos, blogs, etc);School;Friend or family member;Online Courses or Certification;Other (please specify):                              1
Coding Bootcamp;School;Online Forum;Friend or family member;Online Courses or Certification                                                                         1
Name: LearnCode, Length: 360, dtype: int64

In [41]:
## What if I want to see the aforementioned for Employment by groupby
country_group["LearnCode"].value_counts().tail(10)
## As we can see, it broke down each counry

Country   LearnCode
Zimbabwe  Other online resources (ex: videos, blogs, etc);Online Forum;Other (please specify):;Books / Physical media                   1
          Other online resources (ex: videos, blogs, etc);School;Books / Physical media                                                 1
          Other online resources (ex: videos, blogs, etc);School;Online Courses or Certification;Colleague;Books / Physical media       1
          Other online resources (ex: videos, blogs, etc);School;Online Forum                                                           1
          Other online resources (ex: videos, blogs, etc);School;Online Forum;Friend or family member                                   1
          Other online resources (ex: videos, blogs, etc);School;Online Forum;Online Courses or Certification                           1
          Other online resources (ex: videos, blogs, etc);School;Online Forum;Online Courses or Certification;Books / Physical media    1
          School;Books / Physical media                                                                                                 1
          School;Online Courses or Certification;Books / Physical media                                                                 1
          School;Other (please specify):                                                                                                1
Name: LearnCode, dtype: int64

In [46]:
## What if I want to see for a specific country by using group by()
country_group["LearnCode"].value_counts().loc["United States of America"]

LearnCode
School                                                                                                           1472
School;Books / Physical media                                                                                     900
Books / Physical media                                                                                            693
Other online resources (ex: videos, blogs, etc);School;Books / Physical media                                     671
Other online resources (ex: videos, blogs, etc)                                                                   532
                                                                                                                 ...
School;Friend or family member;Online Courses or Certification;Other (please specify):;Books / Physical media       1
School;Friend or family member;Other (please specify):;Colleague;Books / Physical media                             1
School;Online Courses or Certification;Other (please specify):;Colleague                                            1
School;Online Forum;Friend or family member;Other (please specify):;Books / Physical media                          1
School;Online Forum;Online Courses or Certification;Other (please specify):;Books / Physical media                  1
Name: LearnCode, Length: 371, dtype: int64

In [50]:
# What if I wanted a median Salary for a specific country?
country_group["ConvertedCompYearly"].median()

Country
Afghanistan                              9792.0
Albania                                 15900.0
Algeria                                  9875.0
Andorra                                 94045.5
Angola                                   9750.0
                                         ...
Venezuela, Bolivarian Republic of...    12000.0
Viet Nam                                12678.0
Yemen                                    3954.0
Zambia                                   9816.0
Zimbabwe                                 7200.0
Name: ConvertedCompYearly, Length: 181, dtype: float64

In [53]:
# What if I wanted median, mean for salaries by each country?
country_group["ConvertedCompYearly"].agg(["median", "mean"])

                                       median          mean
Country
Afghanistan                            9792.0  2.794748e+06
Albania                               15900.0  4.499814e+04
Algeria                                9875.0  1.446114e+04
Andorra                               94045.5  8.928200e+04
Angola                                 9750.0  2.155680e+04
...                                       ...           ...
Venezuela, Bolivarian Republic of...  12000.0  2.246505e+04
Viet Nam                              12678.0  1.995289e+04
Yemen                                  3954.0  5.628667e+03
Zambia                                 9816.0  1.991491e+04
Zimbabwe                               7200.0  1.141477e+04

[181 rows x 2 columns]

In [56]:
## # What if I wanted median, mean for salaries by a specific country?
country_group["ConvertedCompYearly"].agg(["median", "mean"]).loc["United States of America"]

median    125000.00000
mean      262993.89848
Name: United States of America, dtype: float64

In [62]:
## I wanna know how many people are men in survey. How can I know how many people in United States of America know Java
new_filt = results_public["MentalHealth"]
results_public[new_filt].__str__.contains("disorder")

KeyError: "None of [Index([                                                      'None of the above',\n                                                             'None of the above',\n                                                             'None of the above',\n                                                                             nan,\n                                                                             nan,\n                     'I have a concentration and/or memory disorder (e.g. ADHD)',\n                                                             'None of the above',\n                                                             'None of the above',\n                     'I have a concentration and/or memory disorder (e.g. ADHD)',\n                                                             'None of the above',\n       ...\n                                                    'I have an anxiety disorder',\n                                                             'None of the above',\n                                                             'None of the above',\n                                                             'None of the above',\n                                                    'I have an anxiety disorder',\n                     'I have a concentration and/or memory disorder (e.g. ADHD)',\n                                                             'None of the above',\n                                                             'None of the above',\n       'I have a mood or emotional disorder (e.g. depression, bipolar disorder)',\n                                                             'None of the above'],\n      dtype='object', length=83439)] are in the [columns]"

In [64]:
## Let's apply a function
country_group["MentalHealth"].apply(lambda X: X.str.contains("disorder").sum()).head(50)

Country
Afghanistan                          21
Albania                              13
Algeria                               5
Andorra                               4
Angola                                7
Argentina                            83
Armenia                               7
Australia                           391
Austria                             113
Azerbaijan                           10
Bahamas                               3
Bahrain                               1
Bangladesh                          127
Barbados                              1
Belarus                              24
Belgium                             136
Belize                                1
Benin                                 2
Bhutan                                2
Bolivia                               6
Bosnia and Herzegovina               16
Botswana                              0
Brazil                              630
Brunei Darussalam                     1
Bulgaria                             43
Burkina Faso                          0
Burundi                               1
Cambodia                             10
Cameroon                              6
Canada                              712
Cape Verde                            1
Central African Republic              0
Chad                                  1
Chile                                46
China                               111
Colombia                             66
Congo, Republic of the...             2
Costa Rica                           16
Croatia                              25
Cuba                                  1
Cyprus                               11
Czech Republic                      139
Côte d'Ivoire                         0
Democratic Republic of the Congo      2
Denmark                              97
Djibouti                              1
Dominica                              1
Dominican Republic                   13
Ecuador                              16
Egypt                               109
Name: MentalHealth, dtype: int64

In [68]:
## What percentage of each country has disorder???
diorder_people = pd.concat(["Mental Health","Gender"],axis=column,sort="False")

NameError: name 'column' is not defined